<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex justify-center items-center bg-gray-500">
    <form id="add-user-form"
        class="flex flex-col justify-center gap-2 items-center min-w-[400px] w-1/3 p-4 mx-auto border border-gray-200">
        <h1 class="font-bold text-2xl p-4">
            <%= title %>
        </h1>
        <input required class="p-3" type="text" name="name" id="name" placeholder="Name">
        <input required class="p-3" type="email" name="email" id="email" placeholder="Email Address">
        <input required class="p-3" type="text" name="street" id="street" placeholder="Street">
        <input required class="p-3" type="text" name="city" id="city" placeholder="City">
        <input required class="p-3" type="text" name="state" id="state" placeholder="State">
        <input required class="p-3" type="text" name="zipcode" id="zipcode" placeholder="Zip Code">
        <button id="btn-form-submit" class="p-4">Add User</button>
    </form>
</body>
<script>

    // The form is captured with vanilla JS
    // in order to quickly create and submit
    // the JSON payload in a consistent format

    function createFormPayload() { 
        const userForm = document.getElementById("add-user-form");
        let formData = new FormData(userForm);

        for (let input of formData) {
            if (!input[1]){
                return;
            }
        }

        formData = {
            name: formData.get("name"),
            email: formData.get("email"),
            address: {
                street: formData.get("street"),
                city: formData.get("city"),
                state: formData.get("state"),
                zipCode: formData.get("zipcode")
            }
        }

        console.log(formData);

        fetch('/users', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Access-Control-Allow-Origin": "http://localhost:3000"
            },
            body: JSON.stringify(formData)
        })
        .then(response => response ? response.json() : JSON.parse({}))
        .then(data => console.log(response))
        .catch(error => console.log(error));
    }

    function clearForm() {
        const userForm = document.getElementById("add-user-form");
        const inputs = userForm.getElementsByTagName('input');

        for (let input of inputs){
            input.value = "";
        }
    }

    document.getElementById('btn-form-submit').addEventListener('click', (e) => {
        e.preventDefault();
        createFormPayload();
        clearForm();
    });
</script>

</html>